@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto Regular'),
		local('Roboto-Regular'),
		/* from http://themes.googleusercontent.com/static/fonts/roboto/v11/5YB-ifwqHP20Yn46l_BDhA.eot */
		url('Roboto_400.eot?#iefix') format('embedded-opentype'),
		/* from http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff */
		url('Roboto_400.woff') format('woff'),
		/* from http://themes.googleusercontent.com/static/fonts/roboto/v11/zN7GBFwfMP4uA6AR0HCoLQ.ttf */
		url('Roboto_400.ttf') format('truetype'),
		/* from http://themes.googleusercontent.com/licensed/font?kit=_YZOZaQ9UBZzaxiLBLcgZg#Roboto */
		url('Roboto_400.svg#Roboto') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Light'),
		local('Roboto-Light'),
		/* from http://themes.googleusercontent.com/static/fonts/roboto/v11/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot */
		url('Roboto_300.eot?#iefix') format('embedded-opentype'),
		/* from http://themes.googleusercontent.com/static/fonts/roboto/v11/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Roboto_300.woff') format('woff'),
		/* from http://themes.googleusercontent.com/static/fonts/roboto/v11/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf */
		url('Roboto_300.ttf') format('truetype'),
		/* from http://themes.googleusercontent.com/licensed/font?kit=Hgo13k-tfSpn0qi1SFdUfZbd9NUM7myrQQz30yPaGQ4#Roboto */
		url('Roboto_300.svg#Roboto') format('svg');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src:
		local('Roboto Thin'),
		local('Roboto-Thin'),
		/* from http://themes.googleusercontent.com/static/fonts/roboto/v11/PP2U5prMl9yvKSWVu6DtvPesZW2xOQ-xsNqO47m55DA.eot */
		url('Roboto_100.eot?#iefix') format('embedded-opentype'),
		/* from http://themes.googleusercontent.com/static/fonts/roboto/v11/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff */
		url('Roboto_100.woff') format('woff'),
		/* from http://themes.googleusercontent.com/static/fonts/roboto/v11/Jzo62I39jc0gQRrbndN6nfesZW2xOQ-xsNqO47m55DA.ttf */
		url('Roboto_100.ttf') format('truetype'),
		/* from http://themes.googleusercontent.com/licensed/font?kit=hfaguKg3-IA6kBbQw6DBafesZW2xOQ-xsNqO47m55DA#Roboto */
		url('Roboto_100.svg#Roboto') format('svg');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto Condensed Regular'),
		local('RobotoCondensed-Regular'),
		/* from http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsG8ITcfo9NwJpvZiO7_FxEg.eot */
		url('Roboto_Condensed_400.eot?#iefix') format('embedded-opentype'),
		/* from http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff */
		url('Roboto_Condensed_400.woff') format('woff'),
		/* from http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsDR-eWpsHSw83BRsAQElGgc.ttf */
		url('Roboto_Condensed_400.ttf') format('truetype'),
		/* from http://themes.googleusercontent.com/licensed/font?kit=Zd2E9abXLFGSr9G3YK2MsM9XqQMESZbwKrSTBefVM6U#RobotoCondensed */
		url('Roboto_Condensed_400.svg#RobotoCondensed') format('svg');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Condensed Light'),
		local('RobotoCondensed-Light'),
		/* from http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nCrW_eugtb5_efFKynOEdiw.eot */
		url('Roboto_Condensed_300.eot?#iefix') format('embedded-opentype'),
		/* from http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nNeiznanRB67rGZDYkMvKPc.woff */
		url('Roboto_Condensed_300.woff') format('woff'),
		/* from http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nL3QFSXBldIn45k5A7iXhnc.ttf */
		url('Roboto_Condensed_300.ttf') format('truetype'),
		/* from http://themes.googleusercontent.com/licensed/font?kit=b9QBgL0iMZfDSpmcXcE8nJQFxe5aI6lpFR3J4hsGg-E#RobotoCondensed */
		url('Roboto_Condensed_300.svg#RobotoCondensed') format('svg');
}
